<footer class="d-flex flex-column mt-1 p-3  bg-secondary-subtle text-white container-fluid" style="height: 80px; width: 100%; ">
    <div class = "row">
        <div class="col-3">
            <a href="" class="link-dark">get_Involved</a>
        </div>
        <div class="col-6"></div>
        <div class="col-3 text-end ">
            <a href="" class="link-dark">report bug</a>
        </div>

    </div>
    
</footer>