<h1>In problems</h1>
<% for(topic of topics){ %>
    <a href="/problems/?topic=<%=topic%> ">
        <%= topic %>
            <br>
    </a>

    <%}%>
        <div>
            <center>
                <p>all questions</p>
                <% for(question of all_problems){ %>
                    <a href="<%=question.url%>">
                        <%= question.name %>
                            <br>
                    </a>

                    <%}%>
            </center>
        </div>